@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>O našoj aplikaciji</h3>

<p>Da li ste ikada željeli imati aplikaciju pomoću koje možete voditi evidenciju o stanju vašeg šećera u krvi? Aplikaciju koja će Vas podsjetiti kada trebate primiti sljedeću inzulinsku terapiju, te Vam omogućiti pregled stanja šećera u krvi tokom proteklih 7, 14 ili 30 dana? Aplikacija „DiabetesTracker“ Vam osim ovih omogućava i neke dodatne funkcionalnosti. Pomoću „DiabetesTracker-a“ možete saznati koliko šećera, ugljikohidrata i masti ima u Vašem omiljenom jelu, kao i u nekim osnovnim namirnicama. Osim toga ova aplikacija je namijenjena i medicinskom osoblju, koje je u mogućnosti da unosi rezultate Vaših laboratorijskih nalaza.</p>
