@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Kontaktirajte nas!</h3>

<address>
    <strong>Zerina Ramić:</strong>   <a href="mailto:zramic1@etf.unsa.ba">zramic1@etf.unsa.ba</a><br />
    <strong>Damir Pozderac:</strong> <a href="mailto:dpozderac1@etf.unsa.ba">dpozderac1@etf.unsa.ba</a>
</address>