@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="https://www.eckerd.edu/chemistry/wp-content/uploads/sites/38/2015/11/heartbeat-icon.png" width="200" height="200"/>
    <h1><font color=#00a6cc>DiabetesTracker</font></h1>
    <p class="lead">DiabetesTracker je aplikacija pomoću koje možete voditi evidenciju o stanju vašeg šećera u krvi</p>
</div>

